<!DOCTYPE html>
<html>
  <head>
    <title>Add note</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add note</h1>
    <form method="post" action="/addNote">
      <input type="text" name="title" placeholder="Title" /><br/>
      <textarea rows="10" cols="50" name="note" placeholder="Write your text here"></textarea>
      <br />
      <button type="submit">Add note</button>
    </form>
  </body>
</html>
