<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form method="post" action="/login">
      username: <input type="text" name='username' id="username" /> <br/>
      password: <input type="password" name='password' id="password" />
      <button type="submit"> Login </button>
    </form>
  </body>
</html>
