<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign up</h1>
    <form method="post" action="/signup">
      username: <input type="text" name='username' id="username" /> <br/>
      password: <input type="password" name='password' id="password" />
      re-password: <input type="password" name='re-password' id="re-password" />
      <button type="submit"> Signup </button>
    </form>
  </body>
</html>
